.active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 30px;
    color: red;
    background-color:black;
    margin-top: 20px;
    margin-left: 500px;
    font-size: 30px;
    border-radius: 5px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 30px;
    color: black;
    background-color: red;
    margin-top: 20px;
    margin-left: 500px;
    font-size: 30px;
    border-radius: 5px;
}
